# Server Configuration
PORT=3000
JWT_SECRET=eyJzZWNyZXQiOiAiVGhpcyBpcyBhIHZlcnkgc2VjdXJlIHNlY3JldCBrZXkgZm9yIEpXVCJ9


# Email Configuration (Gmail)
EMAIL_USER=mgitknowledgenavigator@gmail.com
EMAIL_PASS=klrv kpak yuxf teru

# Database Configuration
DB_PATH=./database.sqlite 